.hamburgermenu-1,
.hamburgermenu-2,
.hamburgermenu-3,
.hamburgermenu-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  min-height: 46px;
  padding: 13.0px 0;
  width: 46px;
}

.x01-15,
.x01-16,
.x01-17,
.x01-18 {
  background-color: var(--eerie-black);
  border-radius: 8px;
  height: 3px;
  margin-top: 1px;
  width: 26px;
}

.hamburgermenu-item-1,
.hamburgermenu-item-2,
.hamburgermenu-item-3,
.hamburgermenu-item-4 {
  background-color: var(--eerie-black);
  border-radius: 8px;
  height: 3px;
  margin-top: 5px;
  width: 26px;
}

