.thumbnail-1 {
  display: flex;
  flex: 1;
  width: 23.33px;
}

.layer-56 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 23.33px;
}

.vector-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  min-height: 23px;
  width: 11px;
}

.vector-109 {
  height: 10px;
  object-fit: cover;
  width: 11px;
}

.vector-110 {
  height: 10px;
  margin-top: 2px;
  object-fit: cover;
  width: 11px;
}

.vector-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 2px;
  min-height: 23px;
  width: 10px;
}

.vector-111 {
  height: 10px;
  object-fit: cover;
  width: 10px;
}

.vector-112 {
  height: 10px;
  margin-top: 2px;
  object-fit: cover;
  width: 10px;
}

.thumbnail-1.thumbnail-1-1,
.thumbnail-1.thumbnail-1-4,
.thumbnail-1.thumbnail-1-6,
.thumbnail-1.thumbnail-1-8,
.thumbnail-1.thumbnail-1-10,
.thumbnail-1.thumbnail-1-12 {
  flex: unset;
  height: 23px;
  width: 23px;
}

.thumbnail-1.thumbnail-1-1 .layer-56,
.thumbnail-1.thumbnail-1-6 .layer-56,
.thumbnail-1.thumbnail-1-8 .layer-56,
.thumbnail-1.thumbnail-1-12 .layer-56 {
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 23.33px;
  padding: 0 0.0px;
}

.thumbnail-1.thumbnail-1-1 .vector-container-2,
.thumbnail-1.thumbnail-1-6 .vector-container-2,
.thumbnail-1.thumbnail-1-8 .vector-container-2,
.thumbnail-1.thumbnail-1-10 .vector-container-2,
.thumbnail-1.thumbnail-1-12 .vector-container-2 {
  margin-bottom: unset;
  width: 10px;
}

.thumbnail-1.thumbnail-1-1 .vector-109,
.thumbnail-1.thumbnail-1-1 .vector-110,
.thumbnail-1.thumbnail-1-2 .vector-container-2,
.thumbnail-1.thumbnail-1-2 .vector-109,
.thumbnail-1.thumbnail-1-2 .vector-110,
.thumbnail-1.thumbnail-1-4 .vector-container-2,
.thumbnail-1.thumbnail-1-4 .vector-109,
.thumbnail-1.thumbnail-1-4 .vector-110,
.thumbnail-1.thumbnail-1-6 .vector-109,
.thumbnail-1.thumbnail-1-6 .vector-110,
.thumbnail-1.thumbnail-1-8 .vector-109,
.thumbnail-1.thumbnail-1-8 .vector-110,
.thumbnail-1.thumbnail-1-9 .vector-container-2,
.thumbnail-1.thumbnail-1-9 .vector-109,
.thumbnail-1.thumbnail-1-9 .vector-110,
.thumbnail-1.thumbnail-1-10 .vector-109,
.thumbnail-1.thumbnail-1-10 .vector-110,
.thumbnail-1.thumbnail-1-12 .vector-109,
.thumbnail-1.thumbnail-1-12 .vector-110 {
  width: 10px;
}

.thumbnail-1.thumbnail-1-1 .vector-container-3,
.thumbnail-1.thumbnail-1-6 .vector-container-3,
.thumbnail-1.thumbnail-1-8 .vector-container-3,
.thumbnail-1.thumbnail-1-10 .vector-container-3,
.thumbnail-1.thumbnail-1-12 .vector-container-3 {
  margin-bottom: unset;
}

.thumbnail-1.thumbnail-1-4 .layer-56 {
  justify-content: flex-end;
}

.thumbnail-1.thumbnail-1-10 .layer-56 {
  align-items: flex-start;
  min-width: 23.33px;
}

