.menu-1 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  padding: 29px 0;
  position: relative;
  width: 318px;
}

.overlap-group1-35 {
  height: 108px;
  margin-top: 22px;
  position: relative;
  width: 318px;
}

.dashboard-9 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 66px;
  left: 0;
  min-width: 318px;
  position: absolute;
  top: 0;
}

.overlap-group-75 {
  height: 68px;
  margin-bottom: -2px;
  position: relative;
  width: 318px;
}

.background-8 {
  background-color: var(--white);
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 318px;
}

.active-indicator {
  background-color: var(--turmeric-2);
  border-radius: 25px;
  height: 49px;
  left: 312px;
  position: absolute;
  top: 0;
  width: 6px;
}

.dashboard-10 {
  color: var(--turmeric);
  font-family: var(--font-family-manrope);
  font-size: 15px;
  font-weight: 700;
  height: 56px;
  left: 104px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 12px;
  width: 87px;
}

.group-19 {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 50px;
  left: 0;
  min-width: 318px;
  padding: 9px 53.2px;
  position: absolute;
  top: 58px;
}

.proposal-2 {
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  width: 18px;
}

.projects-1 {
  align-self: flex-end;
  height: 29px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 33px;
  width: 145px;
}

.chat {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 10px;
  min-width: 318px;
  padding: 9px 52.3px;
  position: relative;
}

.contacts-1 {
  align-self: flex-end;
  height: 29px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 28px;
  width: 86px;
}

.group-18 {
  align-items: flex-start;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 318px;
  padding: 9px 52.3px;
}

.vector-145 {
  align-self: center;
  height: 20px;
  margin-bottom: 6.0px;
  object-fit: cover;
  width: 25px;
}

.my-tasks-2 {
  height: 29px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 26px;
  width: 99px;
}

.settings {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 10px;
  min-width: 318px;
  padding: 10px 50.9px;
}

.setting-1 {
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  margin-top: 0.01px;
  width: 26px;
}

.settings-1 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 27px;
  width: 94px;
}

.settings-2 {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 10px;
  min-width: 318px;
  padding: 10px 52.0px;
}

.path-43-4 {
  height: 25px;
  margin-bottom: 0.59px;
  object-fit: cover;
  width: 23px;
}

.settings-3 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 29px;
  width: 94px;
}

.settings-4 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 318px;
  padding: 10px 49.6px;
}

.setting-1-1 {
  background-position: 50% 50%;
  background-size: cover;
  height: 28px;
  margin-top: 0;
  width: 28px;
}

.settings-5 {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 26px;
  width: 94px;
}

.settings-6 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-top: 10px;
  min-width: 318px;
  padding: 10px 54.0px;
}

.path-41 {
  height: 22px;
  margin-top: 0.3px;
  object-fit: cover;
  width: 22px;
}

.settings-7 {
  align-self: flex-end;
  color: var(--eerie-black);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 26px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 28px;
  width: 94px;
}

