.desktop-transfer-error {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1920px;
}

.overlap-group3-14 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 1421px;
  min-width: 1920px;
  padding: 15px 651px;
  position: relative;
}

