.mobile-search-pop {
  align-items: flex-start;
  display: flex;
  height: 812px;
  padding: 108px 17px;
  width: 414px;
}

.overlay .mobile-search-pop {
  background-color: #00000000;
}

.group-21 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  min-height: 200px;
  padding: 20.0px 21.4px;
  position: relative;
  width: 379px;
}

.flex-row-10 {
  align-items: center;
  display: flex;
  height: 40px;
  margin-left: 0;
  margin-top: 20px;
  min-width: 217px;
  position: relative;
}

.super-admin-6 {
  height: 22px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 15px;
  margin-top: 1.59px;
  width: 59px;
}

#overlay-mobile-search-pop .container-center-horizontal {
  justify-content: normal;
}

#overlay-mobile-search-pop {
  background-color: transparent;
}

#overlay-mobile-search-pop .mobile-search-pop {
  left: 0;
  top: 97px;
}

